@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --blue: #0891b2;
    --dark-blue: #2d4059;
    --dark-red: #9d0101;
    --green: #51a551;
    --box-shadow-value: 10px 15px 10px 0 rgba(0, 0, 0, 0.3);
    --box-shadow-header: 20px 20px 100px 0 rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #2d4059;
}

.header {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2rem;
    background-color: var(--blue);
    color: white;
    box-shadow: var(--box-shadow-header);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: 300px;
    max-width: 1400px;
    gap: 2rem;
    margin: 2rem;
    position: absolute;
    top: 20%;
    left: 5%;
}

.cards__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    background-color: white;
    box-shadow: var(--box-shadow-value);
    border-radius: 0.5em;
}

.card__description {
    padding: 1em;
}

.card__description--title {
    padding: 0.5em;
    background-color: var(--blue);
    color: white;
}

.card__description--author,
.card__description--pages {
    margin: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.button__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__description--read,
.card__description--delete {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.card__description--delete {
    background-color: var(--dark-red);
}

.create-book {
    display: grid;
    grid-template-rows: repeat(5, 100px);

    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow-value);
    z-index: 1;
    transform: scale(0);
    border-radius: 10px;
    border: 2px solid var(--blue);
}

.create-book__container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.create-book__container--read {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-book__label {
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}

.create-book__input {
    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    background-color: #f7f7f7;
}

.create-book__input--read {
    width: 40px;
    height: 40px;
    margin-left: 2rem;
}

.book__buttons {
    display: flex;
}

.book__button {
    flex: 1;
    color: white;
    border: none;
}

.book__button--cancel {
    background-color: var(--dark-red);
    border-bottom-left-radius: 10px;
}

.book__button--create {
    background-color: var(--green);
    border-bottom-right-radius: 10px;
}

.button-display {
    position: fixed;
    font-size: 2rem;
    color: white;
    bottom: 5%;
    right: 5%;
    background-color: var(--blue);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-value);
}
