@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --gray: #e2e8f0;
    --blue: #0891b2;
    --box-shadow-value: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
    --gray-text: #78716c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    /* Temporary background color */
    background-color: #413d3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    max-width: 1000px;
    gap: 20px;
    position: absolute;
    top: 12%;
    left: 15%;
    margin: 2rem;
}

.create-book {
    display: grid;
    grid-template-rows: repeat(5, minmax(50px, 100px));
    padding: 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow-value);

    transform: scale(0);
}

.button-display {
    position: absolute;
    bottom: 10%;
    right: 10%;
}
